/* General selectors */
.h-200px {
    height: 200px;
}

.custom-align-center {
    align-items: center;
}

/* Main selectors */
main {
    height: 800px;
    width: 100%;
    background-color: brown;
}